<form  method="post">
    <h1>¡Inscribete ya!</h1>
    <p class="texto">Registrate para obtener tu cuenta</p>
    <input class="cTexto" type="text" placeholder="Nombre"><br>
    <input class="cTexto"  placeholder="Email" type="email"><br>
    <input class="cTexto" type="password" placeholder="Contraseña"><br>
    <input class="cTexto" type="password" placeholder="RepetirContraseña"><br>
  
    <div class="Botones">
        <button class="boton" type="submit">Iniciar Sesión</button>
        <p>¿Ya tienes una cuenta creada?</p>
        <a class="BotonVolver" href="./Login.html">Volver al Login</a>
    </div>
</form>