div{
    height: 55em;
}
p{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    font-family:  'Courier New', Courier, monospace;
    text-shadow:  2px 2px 3px grey;
}