body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

form {
    width: 400px;
    max-height: 700px;
    padding: 20px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {text-align: center;}

img{height: 200px; width: 200px; display: block; margin: 0 auto;}

.cTexto{
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
}

.boton{
    background-color: #c10fc4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
}
.boton:hover {background-color: #d877da; scale: 1.03;}


.BotonRegistro{color: #c10fc4; font-weight: bold; text-decoration: none;}
.BotonRegistro:hover{font-size: 110%; color: #d877da;}


.BotonVolver{color: #c10fc4; font-weight: bold; text-decoration: none;}
.BotonVolver:hover{font-size: 110%; color: #d877da;}




.Botones{
    margin-top: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.texto{
    margin-top: -20px;
    font-size: small;
    font-weight: 400;
}